h2{

text-align:center;

}

h1 {
 text-align:center;
}
.card-img{
height: 300px;
width:300px;
}
.content{
background-color:#EBEDD0;

}

.part-a{
background-color:#DCEDD0;


}
.card-img2{
height: 500px;
width:600px;
}
.part-b{
background-color:#D0EDD2;

}
